Importación de librerias

In [1]:
import pandas as pd

Lectura de datos en pandas

In [2]:
df = pd.read_csv('../input_data/sales_data.csv')
df.head()

,Product_ID,Sale_Date,Sales_Rep,Region,Sales_Amount,Quantity_Sold,Product_Category,Unit_Cost,Unit_Price,Customer_Type,Discount,Payment_Method,Sales_Channel,Region_and_Sales_Rep
0,1052,2023-02-03,Bob,North,5053.97,18,Furniture,152.75,267.22,Returning,0.09,Cash,Online,North-Bob
1,1093,2023-04-21,Bob,West,4384.02,17,Furniture,3816.39,4209.44,Returning,0.11,Cash,Retail,West-Bob
2,1015,2023-09-21,David,South,4631.23,30,Food,261.56,371.40,Returning,0.20,Bank Transfer,Retail,South-David
3,1072,2023-08-24,Bob,South,2167.94,39,Clothing,4330.03,4467.75,New,0.02,Credit Card,Retail,South-Bob
4,1061,2023-03-24,Charlie,East,3750.20,13,Electronics,637.37,692.71,New,0.08,Credit Card,Online,East-Charlie

transformaciones básicas

In [3]:
df = df.rename(columns=str.upper)
df = df.rename(columns={
    'SALES_AMOUNT': 'AMOUNT_SOLD',
})
df['SALE_DATE'] = pd.to_datetime(df['SALE_DATE']).dt.date

verifiquemos datos diferentes para cada columna, pensando ya en el modelado de datos posterior a realizar en Snowflake.

In [4]:
df.nunique()

PRODUCT_ID               100
SALE_DATE                340
SALES_REP                  5
REGION                     4
AMOUNT_SOLD              998
QUANTITY_SOLD             49
PRODUCT_CATEGORY           4
UNIT_COST                998
UNIT_PRICE              1000
CUSTOMER_TYPE              2
DISCOUNT                  31
PAYMENT_METHOD             3
SALES_CHANNEL              2
REGION_AND_SALES_REP      20
dtype: int64

Veamos en más detalle la columna 'REGION'.
Observamos: Baja cardinalidad ----> pocas regiones distintas

In [8]:
df['REGION'].unique()

array(['North', 'West', 'South', 'East'], dtype=object)

In [10]:
df['PRODUCT_CATEGORY'].unique()

array(['Furniture', 'Food', 'Clothing', 'Electronics'], dtype=object)

In [11]:
df['SALES_REP'].unique()

array(['Bob', 'David', 'Charlie', 'Eve', 'Alice'], dtype=object)

In [12]:
df['SALES_CHANNEL'].unique()

array(['Online', 'Retail'], dtype=object)